.input_login{
  padding:12px 7px;
  outline: none;
  margin-bottom: 7px;
  background-color: #1618230f;
  border: #1618230f;
  border-radius: 3px;
  }
.input_login:hover{
    background-color: #dedede;
}
button{
  margin-top: 15px;
  padding: 10px;
  border-radius: 3px;
  outline: none;
  border: none;
  &.active{
    background-color: #fe2c55;
    color: white;
  }
  &:disabled{
    cursor: not-allowed !important;
  }
}

.back_login{
  text-align: center;
  margin-top: 20px;
  cursor: pointer;
}


.loading{
  margin-right: 7px;
  top: 2px;
  animation: spin 1s infinite linear;
}

@keyframes spin {
  from {
      transform: scale(1) rotate(0deg);
  }
  to {
      transform: scale(1) rotate(360deg);
  }
}